extends ../layout

block content
  h1 Yoga Builder Login
  form(action="/auth/login" method="POST")
    p Please Enter Login Details
    label(for="username") Username
    br
    input(type="text" name="username")
    br
    br
    label(for="password" name="password") Password
    br
    input(type="text" name="password")
    br
    br
    input(type="submit" value="login" name="login")
    br
    br
    h3 Don't have an account? click below to signup
    a(name="signup" href="/auth/signup") Sign up
