extends ../layout

block content
  h1 Signup
  form(action="/auth/signup" method="POST")
    label(for="firstName") First Name
    br
    input(type="firstName" name="firstName")
    br
    br
    label(for="lastName") Last Name
    br
    input(type="lastName" name="lastName")
    br
    br
    label(for="email") Email
    br
    input(type="email" name="email")
    br
    br
    label(for="username") Username
    br
    input(type="text" name="username")
    br
    br
    label(for="password" name="password") Password
    br
    input(type="text" name="password")
    br
    br
    input(type="submit" value="login" name="login")
    br
    br
