extends ../layout

block title
  title Sign-up

block content
  header
    h1 Signup
  main
    form.form(action="/auth/signup" method="POST")
      label(for="name") Name
      input(type="name" name="name")
      label(for="email") Email
      input(type="email" name="email")
      label(for="username") Username
      input(type="text" name="username")
      label(for="password" name="password") Password
      input(type="password" name="password")
      button
        a Sign-up
