extends ../layout

block title
  title Sign-up

block content
<<<<<<< HEAD
  header
    h1 Signup
  main
    form.form(action="/auth/signup" method="POST")
      label(for="name") Name
      input(type="name" name="name")
      label(for="email") Email
      input(type="email" name="email")
      label(for="username") Username
      input(type="text" name="username")
      label(for="password" name="password") Password
      input(type="text" name="password")
      button Sign-up
=======
  h1 Signup
  form(action="/auth/signup" method="POST")
    label(for="firstName") First Name
    br
    input(type="firstName" name="firstName")
    br
    br
    label(for="lastName") Last Name
    br
    input(type="lastName" name="lastName")
    br
    br
    label(for="email") Email
    br
    input(type="email" name="email")
    br
    br
    label(for="username") Username
    br
    input(type="text" name="username")
    br
    br
    label(for="password" name="password") Password
    br
    input(type="text" name="password")
    br
    br
    input(type="submit" value="login" name="login")
    br
    br
>>>>>>> 4e6f9b2ee950b4b4605c51198580f18164dac687
