@import 'colorsandfonts';

*{
  box-sizing: border-box;
}


body{
  width: 100vw;
  height: 100vh;
  background-color: $light-brown;
  padding: 0;
  margin: 0;
}

header{
  padding: 20px 0;
  background-color: $dark-brown;
  width: 100%;
  margin: 0;
}

h1{
  margin: 0;
  text-align: center;
  font-family: $title-font;
  color: white;
}

p{
  font-family: $body-font;
}

nav{
  width: 33%;
  background-color: $light-blue;
  overflow-y: scroll;
  position: relative;
  height: 90vh;
  float: left;
  .sequence{
    width: 200px;
    height: 200px;
    margin: 35px auto;
  }
  select{
    width: 100%;
    position: absolute;
    top: 25px;
    option{
      font-size: 16px;
      text-align: center;

    }
  }
}
p{
  position: fixed;
  width: 180px;
  height: 100px;
  background-color: grey;
  margin: 0;
}
i{
  color: white;
  position: fixed;
  top: 10px;
  left: 65px;
}

.sequence {
  background-color: $dark-blue;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55)
}

nav .sequence:first-of-type{
  margin-top: 100px;
}

main{
  width: 66%;
  height: 90vh;
  float: left;
  align-items: center;
  overflow-y: scroll;
  .sequence {
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-left: 200px;
  }
  .sequence:first-of-type{
    align-self: flex-start;
  }
}

p.close{
  width: 60px;
  height: 60px;
  background-color: transparent;
  font-size: 60px;
  color: white;
  font-family: $title-font;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: -20px;
  right: -30px;
}


nav .close, .gu-mirror .close{
  visibility: hidden;
}
