@import 'colorsandfonts';
@import 'buttons';

*{
  box-sizing: border-box;
}

html{
  height: 100vh;
  margin: 0;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: $light-brown;
  padding: 0;
  margin: 0;
}

header{
  padding: 20px 0;
  background-color: $dark-brown;
  height: 10%;
  width: 100%;
  margin: 0;
}



.sequence {
  background-color: $dark-blue;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55)
}

nav .sequence:first-of-type{
  margin-top: 100px;
}
main{
  height: 90%;
  margin: 0;
  nav{
    width: 33%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    float: left;
    height: 100%;
    background-color: $light-blue;
    .sequence{
      width: 200px;
      height: 200px;
      margin: 35px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      *{
        display: none;
      }
      h2, a{
        display: inline;
      }
      img{
        width: 120px;
        height: 120px;
        display: inline;
      }
    }
    select{
      width: 100%;
      position: absolute;
      top: 25px;
      option{
        font-size: 16px;
        text-align: center;

      }
    }
  }

}

form.builder{
  width: 66%;
  height: 100%;
  float: left;
  align-items: center;
  overflow-y: scroll;
  position: relative;
  padding-top: 30px;
  padding-bottom: 80px;
  .sequence {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 400px;
    img{
      width: 200px;
      height: 200px;
      margin: 25px;
    }
    h2, .categories, .timer{
      position: absolute;
      left: -350px;
    }
    a{
      color: black;
    }
    h2{
      top: 10px;
    }
    .categories{
      em{
        text-decoration: underline;
      }
      top: 50px;
      font-size: 18px;
    }
    .timer{
      top: 120px;
      width: 60px;
      input{
        width: 100%;
        height: 40px;
        font-size: 25px;
      }
    }
  }
  .sequence:first-of-type{
    align-self: flex-start;
  }
  .buttons{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    button{
      flex-grow: 3;
    }
  }
}

p.close{
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 40px;
  color: white;
  font-family: $title-font;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: -5px;
}


nav .close, .gu-mirror .close{
  visibility: hidden;
}

.splash{
  text-align: center;
  width: 100%;
  h1{
    color: $dark-blue;
    font-family: $title-font;
    font-size: 150px;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 30vh;
    font-style: italic;
  }
  p{
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    color: $dark-blue;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
  }
  .buttons{
    width: 50%;
    margin-left: 25%;
  }
}

form.form{
  margin: 20px auto;
  height: 400px;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 10px solid $light-blue;
  border-radius: 15px;
  background-color: white;
  p, label{
    color: $dark-brown;
  }
  input{
    width: 75%;
    border: 1px solid black;
    height: 20px;
    font-size: 16px;
  }
  button{
    font-size: 16px;
  }
  .buttons{
    width: 50%;
    button{
      width: 100%;
    }
  }
}

.user{
  .userInfo{
    width: 65%;
    height: 200px;
    background-color: black;
    margin-left: 17.5%;
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    img{
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
    .info{
      height: 80%;
      width: 300px;
      background-color: white;
    }
  }
  .favoriteSequences{
    margin-left: 17.5%;
  }
  .personalSequences{
    margin-left: 2%;
  }
  .box{
    background-color: black;
    margin-top: 20px;
    float: left;
    width: 31.5%;
    height: 600px;
  }
}
