$light-brown: #E2DBBE;
$dark-brown: #A0A083;
$dark-blue: #28536B;
$light-blue: #A0B9C6;
$slate-grey: #798478;
$default-boxshadow:  5px 5px 2px 2px rgba(40, 40, 40, 0.55);

@font-face{
  font-family: 'Fontin';
  src: url('Fontin-Regular.otf');
}

@font-face{
  font-family: 'LeagueSpartan-Bold';
  src: url('LeagueSpartan-Bold.otf');
}

$title-font: 'LeagueSpartan-Bold';
$body-font: 'Fontin';
$backup-font: 'Helvetica';

h1{
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: white;
}

h2{
  font-size: 25px;
}

a{
  color: white;
}

p, a, h1, h2, h3, h4, button, label, input{
  font-family: $body-font;
}
