extends layout
  
block title 
  title Stuart's sequence Builder
  
block content
  header
    h1 New Sequence
    nav 
      a Profile
  main
    nav.elements 
      - var j = 1
      select 
        while j <= 5
          option(val=j)= j++
      each result in results 
        div.sequence(id=result.id)
          p.close X
          h2
            a(href='/poses/' + results.pose_id)= result.pose_name
          div.categories
            p 
              em Categories
            each category in result.category
              p= category
          div.timer
            label Length
            input(type='text')
          img(src='http://placehold.it/200x200')
          
    form.builder(action='/sequence' method='post')
      div.buttons
        button Save Sequence
    
      
