extends layout
  
block title 
  title Sequence Builder
  
block content
  header
    h1 New Sequence
    nav 
      a(href='/users/#{user_id}') Profile
  main.builder
    nav.elements 
      div.selectbox
        select
          each category in categories
            option(value=category.id)= category.name  
    form.builder(action='/sequence' method='post')
      button(type='button') 
        a Save Sequence
block scripts
  script.
    var user_id = !{JSON.stringify(user_id)};
    var posecategories = !{JSON.stringify(posecategories)}
  script(src='/js/builder.js')
      
