extends layout
  
block title
  title Mantra
  
block content
  main.splash
    h1 Mantra
    p Build custom yoga sequences quickly and easily.
    div.buttons
      button 
        a(href='/authorization/login') Sign-in 
      button 
        a(href='/authorization/signup') Sign-up
