extends ../layout

block title
block content
  header
    h1 Tell us more about #{capitalize(user.first_name)} #{capitalize(user.last_name)}
  form.form(action="/users/#{user.id}" method="POST")
    
    fieldset
      legend Edit user
      include ../includes/form
