extends ../layout

block title
  title User Name

block content
  header
    h1 User Name
  main.user
    div.userInfo
      img(src='http://placehold.it/200x200')
      div.info
    div.favoriteSequences.box
    div.personalSequences.box
    
