@font-face {
  font-family: 'Fontin';
  src: url("Fontin-Regular.otf"); }

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url("LeagueSpartan-Bold.otf"); }

* {
  box-sizing: border-box; }

html {
  height: 100vh;
  margin: 0; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #E2DBBE;
  padding: 0;
  margin: 0; }

header {
  padding: 20px 0;
  background-color: #A0A083;
  height: 10%;
  width: 100%;
  margin: 0; }

h1 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-family: "Fontin";
  color: white; }

p {
  font-family: "Fontin"; }

p {
  position: fixed;
  width: 180px;
  height: 100px;
  background-color: grey;
  margin: 0; }

i {
  color: white;
  position: fixed;
  top: 10px;
  left: 65px; }

.sequence {
  background-color: #28536B;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55); }

nav .sequence:first-of-type {
  margin-top: 100px; }

main {
  height: 90%;
  margin: 0; }
  main nav {
    width: 33%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    float: left;
    height: 100%;
    background-color: #A0B9C6; }
    main nav .sequence {
      width: 200px;
      height: 200px;
      margin: 35px auto; }
    main nav select {
      width: 100%;
      position: absolute;
      top: 25px; }
      main nav select option {
        font-size: 16px;
        text-align: center; }

form {
  width: 66%;
  height: 100%;
  float: left;
  align-items: center;
  overflow-y: scroll;
  position: relative;
  padding-top: 30px;
  padding-bottom: 80px; }
  form .sequence {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 400px; }
  form .sequence:first-of-type {
    align-self: flex-start; }

p.close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 40px;
  color: white;
  font-family: "LeagueSpartan-Bold";
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: -5px; }

nav .close, .gu-mirror .close {
  visibility: hidden; }

.splash {
  text-align: center;
  width: 100%; }
  .splash h1 {
    color: #28536B;
    font-family: "LeagueSpartan-Bold";
    font-size: 150px;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 30vh; }
  .splash p {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    color: #28536B;
    width: 50%;
    margin-left: 25%; }

button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  height: 50px;
  width: 200px;
  background-color: #A0B9C6;
  border-radius: 15px;
  border: none;
  font-family: "Fontin";
  font-size: 25px;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55); }
