@font-face {
  font-family: 'Fontin';
  src: url("Fontin-Regular.otf"); }

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url("LeagueSpartan-Bold.otf"); }

h1 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: white; }

h2 {
  font-size: 25px; }

a {
  color: white; }

p, a, h1, h2, h3, h4, button, label, input {
  font-family: "Fontin"; }

@font-face {
  font-family: 'Fontin';
  src: url("Fontin-Regular.otf"); }

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url("LeagueSpartan-Bold.otf"); }

h1 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: white; }

h2 {
  font-size: 25px; }

a {
  color: white; }

p, a, h1, h2, h3, h4, button, label, input {
  font-family: "Fontin"; }

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

button {
  width: 45%;
  background-color: #A0B9C6;
  border-radius: 15px;
  border: none;
  font-family: "Fontin";
  font-size: 25px;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55); }

* {
  box-sizing: border-box; }

html {
  height: 100vh;
  margin: 0; }

body {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/halftone/halftone.png");
  padding: 0;
  margin: 0; }

header {
  padding: 20px 0;
  background-color: #A0A083;
  height: 10%;
  width: 100%;
  margin: 0; }

.sequence {
  background-color: #28536B;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55); }

nav .sequence:first-of-type {
  margin-top: 100px; }

main {
  height: 90%;
  margin: 0; }
  main nav {
    width: 33%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    float: left;
    height: 100%;
    background-color: #A0B9C6; }
    main nav .sequence, main nav .pose, main nav .category {
      width: 200px;
      height: 200px;
      margin: 35px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      main nav .sequence *, main nav .pose *, main nav .category * {
        display: none; }
      main nav .sequence h2, main nav .sequence a, main nav .pose h2, main nav .pose a, main nav .category h2, main nav .category a {
        display: inline;
        text-align: center; }
      main nav .sequence img, main nav .pose img, main nav .category img {
        width: 120px;
        height: 120px;
        display: inline; }
    main nav select {
      width: 100%;
      position: absolute;
      top: 25px; }
      main nav select option {
        font-size: 16px;
        text-align: center; }

form.builder {
  width: 66%;
  height: 100%;
  float: left;
  align-items: center;
  overflow-y: scroll;
  position: relative;
  padding-top: 30px;
  padding-bottom: 80px; }
  form.builder .sequence {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 400px; }
    form.builder .sequence img {
      width: 200px;
      height: 200px;
      margin: 25px; }
    form.builder .sequence h2, form.builder .sequence .categories, form.builder .sequence .timer {
      position: absolute;
      left: -350px; }
    form.builder .sequence a {
      color: black; }
    form.builder .sequence h2 {
      top: 10px; }
    form.builder .sequence .categories {
      top: 50px;
      font-size: 18px; }
      form.builder .sequence .categories em {
        text-decoration: underline; }
    form.builder .sequence .timer {
      top: 120px;
      width: 60px; }
      form.builder .sequence .timer input {
        width: 100%;
        height: 40px;
        font-size: 25px; }
  form.builder .sequence:first-of-type {
    align-self: flex-start; }
  form.builder .buttons {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2; }
    form.builder .buttons button {
      flex-grow: 3; }

p.close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 40px;
  color: white;
  font-family: "LeagueSpartan-Bold";
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: -5px; }

nav .close, .gu-mirror .close {
  visibility: hidden; }

.splash {
  text-align: center;
  width: 100%; }
  .splash h1 {
    color: #28536B;
    font-family: "LeagueSpartan-Bold";
    font-size: 150px;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 30vh;
    font-style: italic; }
  .splash p {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    color: #28536B;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px; }
  .splash .buttons {
    width: 50%;
    margin-left: 25%; }

form.form {
  margin: 20px auto;
  height: 400px;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 10px solid #A0B9C6;
  border-radius: 15px;
  background-color: white; }
  form.form p, form.form label {
    color: #A0A083; }
  form.form input {
    width: 75%;
    border: 1px solid black;
    height: 20px;
    font-size: 16px; }
  form.form button {
    font-size: 16px; }
  form.form .buttons {
    width: 50%; }
    form.form .buttons button {
      width: 100%; }

.user .userInfo {
  width: 65%;
  height: 200px;
  background-color: #A0A083;
  border-radius: 15px;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55);
  margin-left: 17.5%;
  margin-top: 75px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .user .userInfo * {
    color: white;
    font-size: 18px; }
  .user .userInfo img {
    border-radius: 50%;
    height: 150px;
    width: 150px; }
  .user .userInfo .info {
    height: 80%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right; }

.user .favoriteSequences {
  margin-left: 17.5%; }

.user .personalSequences {
  margin-left: 2%; }

.user .saved {
  width: 100%;
  height: 100px;
  background-color: #A0A083;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55);
  position: relative; }
  .user .saved a {
    position: absolute;
    bottom: 10px;
    right: 10px; }

.user .box {
  margin-top: 20px;
  float: left;
  width: 31.5%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user .box .buttons {
    width: 50%;
    height: 30px; }
    .user .box .buttons button {
      font-size: 16px;
      width: 100%; }

.user h4 {
  margin: 10px;
  color: #E2DBBE;
  font-size: 20px; }

.pose {
  width: 65%;
  margin-left: 17.5%;
  margin-top: 30px; }
  .pose img {
    float: left;
    height: 40%;
    width: 40%; }
  .pose h2 {
    text-align: right;
    margin-bottom: 20px; }
  .pose .transalt {
    width: 60%;
    float: left;
    text-align: right; }
    .pose .transalt li, .pose .transalt p {
      margin: 10px 0;
      font-size: 20px; }
  .pose .descriptions {
    width: 100%;
    float: left;
    margin-top: 20px; }
  .pose .related {
    height: 100px;
    display: flex;
    justify-content: space-around; }
    .pose .related .box {
      background-color: #A0B9C6;
      box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55);
      border-radius: 15px;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center; }
