.builder {
  width: 100vw;
  height: 90vh; }

.elements {
  height: 100%;
  width: 33%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  float: left;
  height: 100%; }
  .elements .sequence, .elements .pose, .elements .category {
    width: 200px;
    height: 200px;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .elements .sequence *, .elements .pose *, .elements .category * {
      display: none; }
    .elements .sequence h2, .elements .sequence a, .elements .pose h2, .elements .pose a, .elements .category h2, .elements .category a {
      display: inline;
      text-align: center; }
    .elements .sequence img, .elements .pose img, .elements .category img {
      width: 120px;
      height: 120px;
      display: inline; }
  .elements select {
    width: 100%;
    position: absolute;
    top: 25px; }
    .elements select option {
      font-size: 16px;
      text-align: center; }

form.builder {
  width: 66%;
  height: 100%;
  float: left;
  align-items: center;
  overflow-y: scroll;
  position: relative;
  padding-top: 30px;
  padding-bottom: 80px; }
  form.builder .sequence {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 400px; }
    form.builder .sequence img {
      width: 200px;
      height: 200px;
      margin: 25px; }
    form.builder .sequence h2, form.builder .sequence .categories, form.builder .sequence .timer {
      position: absolute;
      left: -350px; }
    form.builder .sequence h2 {
      top: 10px; }
    form.builder .sequence .categories {
      top: 50px;
      font-size: 18px; }
      form.builder .sequence .categories em {
        text-decoration: underline; }
    form.builder .sequence .timer {
      top: 120px;
      width: 60px; }
      form.builder .sequence .timer input {
        width: 100%;
        height: 40px;
        font-size: 25px; }
  form.builder .sequence:first-of-type {
    align-self: flex-start; }
  form.builder .buttons {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2; }
    form.builder .buttons button {
      flex-grow: 3; }

p.close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  right: -5px; }

nav .close, .gu-mirror .close {
  visibility: hidden; }

.sequence, .pose, .category {
  position: relative;
  border-radius: 15px; }

nav .sequence:first-of-type, nav .pose:first-of-type, nav .category:first-of-type {
  margin-top: 100px; }
