button {
  background-color: #11B6C3; }

.selectbox {
  background-color: #DEE7E7; }

.sequence, .pose {
  background-color: #CFBCDF;
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55); }

.category {
  background-color: #49306B; }
  .category h2 {
    color: #DEE7E7; }

header {
  background-color: #49306B; }
  header a {
    color: #DEE7E7; }

.elements {
  background-color: #DEE7E7; }

.form {
  border: 5px solid #49306B;
  background-color: white; }

h1 {
  color: #DEE7E7; }

button a {
  color: #DEE7E7; }

.splash h1, .splash p {
  color: #11B6C3; }

.saved {
  box-shadow: 5px 5px 2px 2px rgba(40, 40, 40, 0.55); }
  .saved .header {
    background-color: #49306B; }
    .saved .header h4 {
      color: #DEE7E7;
      text-align: center; }
      .saved .header h4 a {
        color: #DEE7E7; }
  .saved .body {
    background-color: white; }
  .saved button {
    box-shadow: none; }
