@font-face {
  font-family: 'Fontin';
  src: url("Fontin-Regular.otf"); }

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url("LeagueSpartan-Bold.otf"); }

h1 {
  text-align: center;
  margin: 0;
  font-family: 'LeagueSpartan-Bold'; }

h1 {
  font-size: 40px; }

p, button, label, input, h2, h3, h4, h5, h6, ul, li, a {
  font-family: "Fontin";
  font-size: 16.66667px;
  color: black; }

h2 {
  font-size: 33.33333px; }

h3 {
  font-size: 26.66667px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 13.33333px; }

h6 {
  font-size: 6.66667px; }
