form.form {
  margin: 20px auto;
  width: 375px;
  height: 450px;
  justify-content: center;
  justify-content: space-around;
  border-radius: 15px; }
  form.form h2, form.form h3, form.form p {
    color: black;
    text-align: center; }
  form.form input {
    width: 75%;
    border: 1px solid black;
    height: 20px;
    font-size: 16px; }

#fbLogin {
  height: 35px;
  width: 160px; }

#fileUpload {
  border: none;
  font-size: .8em;
  margin-left: 25%; }
