.pose-detail {
  width: 65%;
  margin-left: 17.5%;
  margin-top: 30px; }
  .pose-detail img {
    float: left;
    height: 40%;
    width: 40%; }
  .pose-detail h2 {
    text-align: right;
    margin-bottom: 20px; }
  .pose-detail .transalt {
    width: 60%;
    float: left;
    text-align: right; }
    .pose-detail .transalt li, .pose-detail .transalt p {
      margin: 10px 0;
      font-size: 20px; }
  .pose-detail .descriptions {
    width: 100%;
    float: left;
    margin-top: 20px; }
  .pose-detail .related {
    height: 100px;
    display: flex;
    justify-content: space-around; }
    .pose-detail .related .box {
      border-radius: 15px;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center; }
