extends ../layout

block header

block content
  header 
    h1= name 
    nav
    if user.exists
      a(href='/users/' + user.id + '/profile')= user.name + "'s Profile'"
      a(href='/sequences') All Sequences
  main.singlesequence 
block scripts
  script.
    var sequence = !{JSON.stringify(usersequence.sequence_id)}
    var time = !{JSON.stringify(usersequence.timing)}
  script(src='/js/sequences.js')
    
